In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

In [2]:
data = pd.read_csv('Dataset/sp500.csv')

In [4]:
data.head()

         Date   Open   High    Low  Close   Volume  Dividends  Stock Splits
0  1950-01-03  16.66  16.66  16.66  16.66  1260000          0             0
1  1950-01-04  16.85  16.85  16.85  16.85  1890000          0             0
2  1950-01-05  16.93  16.93  16.93  16.93  2550000          0             0
3  1950-01-06  16.98  16.98  16.98  16.98  2010000          0             0
4  1950-01-09  17.08  17.08  17.08  17.08  2520000          0             0

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18292 entries, 0 to 18291
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          18292 non-null  object
 1   Open          18292 non-null  float64
 2   High          18292 non-null  float64
 3   Low           18292 non-null  float64
 4   Close         18292 non-null  float64
 5   Volume        18292 non-null  int64
 6   Dividends     18292 non-null  int64
 7   Stock Splits  18292 non-null  int64
dtypes: float64(4), int64(3), object(1)
memory usage: 1.1+ MB

In [7]:
data.describe()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
count,18292.000000,18292.000000,18292.000000,18292.000000,1.829200e+04,18292.0,18292.0
mean,697.008453,727.595441,718.676269,723.423144,1.079258e+09,0.0,0.0
std,967.795811,954.976227,943.865472,949.782722,1.676948e+09,0.0,0.0
min,0.000000,16.660000,16.660000,16.660000,0.000000e+00,0.0,0.0
25%,0.000000,88.475002,86.977503,87.720001,9.910000e+06,0.0,0.0
50%,235.485001,236.849998,233.934998,235.560005,1.274000e+08,0.0,0.0
75%,1178.050018,1185.165009,1169.640045,1178.109985,1.560400e+09,0.0,0.0
max,4804.509766,4818.620117,4780.040039,4796.560059,1.145623e+10,0.0,0.0

In [9]:
data.isnull().sum()

Date            0
Open            0
High            0
Low             0
Close           0
Volume          0
Dividends       0
Stock Splits    0
dtype: int64